/* styles/globals.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Arial", sans-serif;
}

.container {
  max-width: 390px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 10px 0; /* Adjust padding as needed */
}
.heading {
  align-items: center;
  align-content: center;
  padding: 10px 60px;
}
.main-heading {
  font-size: 22px;
  font-weight: 700;
  /* width: 80px; */

  color: #000000;
}

.menu-icon {
  /* Style your menu icon here */
}

.main-content {
  display: flex;
  flex-direction: column;
}
